<%-include("./partials/header.ejs")-%>
<div class="view">
    <h2><%=blog['title']%></h2>
    <h3>Author: <%=blog['authorName']%></h3>
    <hr>
    <br>
    <p><%=blog['content']%></p>
</div>
<%-include("./partials/footer.ejs")-%>